{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section class="card">
    <h2>{% trans "Admin Reports" %} </h2>
    <p>{% trans "Use these tools to manage Stock and Inventory reports." %} </p>

    <ul class="management-tabs">
        <li><a href="{% url 'sales_report' %}">{% trans "Sales Report" %} </a></li>
        <li><a href="{% url 'inventory_report' %}">{% trans "Inventory Reports" %} </a></li>
        <li><a href="{% url 'activity_report' %}">{% trans "Customer Activity Report" %} </a></li>
    </ul>
</section>
{% endblock %}