{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section class="card">
    <h2>{% trans "Customers" %} </h2>
    <table>
        <tr>
            <th>{% trans "Name" %} </th>
            <th>{% trans "Email" %} </th>
            <th>{% trans "Points" %} </th>
            <th></th>
        </tr>
        {% for c in customers %}
        <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.points }}</td>
            <td>
                <form method="POST" style="display:inline">
                    {% csrf_token %}
                    <button type="submit" name="delete_customer" value="{{ c.id }}">
                        {% trans "DELETE" %} 
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}