{% extends "base.html" %}

{% block content %}
<section class="card">
    <h2>Purchase History</h2>

    <!-- Date Filter -->
    <form method="GET" class="filter-form">
        <h3>Filter by Date</h3>
        {{ form.as_p }}
        <button type="submit">Apply Filter</button>
    </form>

    <h3>Total Spent: ${{ total_spent }}</h3>

    <br>

    <!-- Receipts Table -->
    <table>
        <tr>
            <th>Date</th>
            <th>Total</th>
            <th>Points</th>
            <th></th>
        </tr>

        {% for r in receipts %}
        <tr>
            <td>{{ r.time }}</td>
            <td>${{ r.total_price }}</td>
            <td>{{ r.points_earned }}</td>
            <td><a href="{% url 'receipt_detail' r.id %}">View</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No receipts found for this period.</td>
        </tr>
        {% endfor %}
    </table>

    <hr>
    <br><br>
    <!-- Search Purchases -->
    <h2>Search Purchase History</h2>

    <form method="GET" class="filter-form">
        {{ search_form.as_p }}
        <button type="submit">Search</button>
    </form>

    {% if info %}
        <h3>Item: {{ info.item_name }}</h3>
        <p><strong>Purchased:</strong> {{ info.count }} times</p>

        <table>
            <tr>
                <th>Date</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>

            {% for it in info.items %}
            <tr>
                <td>{{ it.receipt_id.time }}</td>
                <td>${{ it.product_id.price }}</td>
                <td>{{ it.product_quantity }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

</section>
{% endblock %}
