{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Smart Store</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
 <header class="top-bar">
        <h1>Smart Store Dashboard</h1>

        <nav class="main-nav">
                <a href="{% url 'default' %}">Dashboard</a>
            <a href="{% url 'create_customer_page' %}">Create Customer</a>
            <a href="{% url 'create_product_page' %}">Create Product</a>
            <a href="{% url 'add_inventory_page' %}">Add Inventory</a>
            <a href="{% url 'customers_page' %}">Customers</a>
            <a href="{% url 'products_page' %}">Products</a>
            <a href="{% url 'inventory_page' %}">Inventory</a>
            <a href="{% url 'receipts_page' %}">Receipts</a>
        </nav>
    </header>

    <main class="content">
        <section id="create-customer" class="card">
    <h2>Create Customer</h2>
    <form method="POST" class="customercr">
        {% csrf_token %}
        {{ customer_form.as_p }}
        <button type="submit" name="create_customer">Add Customer</button>
    </form>
    </section>

    <section id="create-product" class="card">
 <hr>
    <h2>Create Product</h2>
    <form method="POST">
        {% csrf_token %}
        {{ product_form.as_p }}
        <button type="submit" name="create_product">Add Product</button>
    </form>
     </section>

    <section id="add-inventory" class="card">
 <hr>
    <h2>Add Inventory</h2>
    <form method="POST">
        {% csrf_token %}
        {{ inventory_form.as_p }}
        <button type="submit" name="add_inventory">Add Inventory</button>
    </form>
   </section>

    <section id="customers" class="card">
    <hr>

    <h2>Customers</h2>
    <table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Points</th>
    </tr>
    {% for c in customers %}
    <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.points }}</td>
        <td>
            <form method="POST", style="display:inline">
                {% csrf_token %}
                <button type="submit", name="delete_customer", value="{{ c.id }}">
                    DELETE
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </table>
    </section>

    <section id="products" class="card">
 <hr>
    <h2>Products</h2>
    <table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>
    {% for p in products %}
    <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.category }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.stock_quantity }}</td>
        <td>
            <button onclick="addToCart('{{ p.id }}', '{{ p.name }}', '{{ p.price }}', '{{ p.stock_quantity }}')">
                ADD TO CART
            </button>
        </td>
        <td>
            <form method="POST", style="display:inline">
                {% csrf_token %}
                <button type="submit", name="delete_product", value="{{ p.id }}">
                    DELETE
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </table>
      </section>

    <section id="inventory" class="card">
 <hr>
    <h2>Inventory</h2>
    <table>
    <tr>
        <th>Product</th>
        <th>Date Received</th>
        <th>Qty</th>
    </tr>
    {% for i in inventory %}
    <tr>
        <td>{{ i.product_id.name }}</td>
        <td>{{ i.date_received }}</td>
        <td>{{ i.quantity_received }}</td>
    </tr>
    {% endfor %}
    </table>
     </section>

    <section id="receipts" class="card">
 <hr>
    <h2>Receipts</h2>
    <table>
    <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Total</th>
        <th>Points Earned</th>
        <th>Date</th>
    </tr>
    {% for r in receipts %}
    <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.customer.name }}</td>
        <td>{{ r.total_price }}</td>
        <td>{{ r.points_earned }}</td>
        <td>{{ r.time }}</td>
    </tr>
    {% endfor %}
    </table>
     </section>

    <section id="cart" class="card">
 <hr>
    <h2>Cart</h2>
    <table id="cart-table">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </table>
    </section>

    </main>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>