{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section class="card">
    <h2>{% trans "Inventory" %} </h2>
    <table>
        <tr>
            <th>{% trans "Product" %} </th>
            <th>{% trans "Date Received" %} </th>
            <th>{% trans "Quantity" %} </th>
        </tr>
        {% for i in inventory %}
        <tr>
            <td>{{ i.product_id.name }}</td>
            <td>{{ i.date_received }}</td>
            <td>{{ i.quantity_received }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
