{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<section class="card">
    <h2>{% trans "Products" %} </h2>
    
    <table>
        <tr>
            <th>{% trans "Name" %} </th>
            <th>{% trans "Category" %} </th>
            <th>{% trans "Price" %} </th>
            <th>{% trans "UPC" %} </th>
            <th>{% trans "EPC" %} </th>
            <th>{% trans "Stock" %} </th>
        </tr>
        {% for p in products %}
        <tr data-product-id="{{ p.id }}" data-name="{{ p.name }}" data-price="{{ p.price }}"
            data-stock="{{ p.stock_quantity }}" data-barcode="{{ p.upc }}" data-rfid="{{ p.epc }}">
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.category }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.upc }}</td>
            <td>{{ p.epc }}</td>
            <td>{{ p.stock_quantity }}</td>
            <td>
                <form method="POST" style="display:inline">
                    {% csrf_token %}
                    <button type="submit" name="delete_product" value="{{ p.id }}">
                        {% trans "DELETE" %} 
                    </button>
                </form>
            </td>
        
        </tr>

        {% endfor %}
    </table>
</section>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}