{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section class="card" style="max-width:700px;margin:0 auto;">
    <h2>{% trans "Receipt" %}  #{{ receipt.id }}</h2>

    <p><strong>{% trans "Customer" %} :</strong> {{ receipt.customer_id.name }}</p>
    <p><strong>{% trans "Membership" %}  #:</strong> {{ receipt.customer_id.membership_id }}</p>
    <p><strong>{% trans "Date" %} :</strong> {{ receipt.time }}</p>

    <hr>

    <table>
    <tr>
        <th>{% trans "Item" %} </th>
        <th style="text-align:center;">Qty</th>
        <th style="text-align:right;">Price</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.product_id.name }}</td>
        <td style="text-align:center;">{{ item.product_quantity }}</td>
        <td style="text-align:right;">
            {{ item.product_id.price|floatformat:2 }}
        </td>
    </tr>
    {% endfor %}
</table>

    <hr>

    <p><strong>{% trans "Points earned" %} :</strong> {{ receipt.points_earned }}</p>
    <p style="text-align:right; font-size:18px;">
        <strong>{% trans "Total" %} :</strong> {{ receipt.total_price|floatformat:2 }}
    </p>

    <a class="btn checkout" href="{% url 'receipts_page' %}">
        {% trans "Back to all receipts" %} 
    </a>
</section>
{% endblock %}
